.game-start, .defender-area{
    height: 225px;
    
    /* background-color: blanchedalmond; */
}
body{
    background-image: url("../images/galaxy.jpg")
}
img{
    height: 225px;
    width: 225px;
    position: relative;
    top: -25px;
    margin: 0px 5px;
    /* padding: 5px; */
    
}

.battle-notes1, .battle-notes2{
    height: 50px;
    background-color: white;
    opacity: 0.5;
    color: black;
    line-height: 50px;
    font-size: 20px;
    font-weight: 10px;
    
    

}
.krshow-off, .lsshow-off, .hsshow-off, .plshow-off{
    z-index: 4;
    height: 25px;
    width: 225px;
    position: relative;
    background-color: rgb(44, 17, 17);
    top: 190px;
    color: white;
    text-align: center;
    margin: 0px 5px;

}

.ready-player-one, .defender{
    height: 225px;
    width:  400px;
    background-color: pink;
    position: relative;
    /* margin: 5px; */
}

.player-one-score, .defender-score{
    height: 100px;;
    background-color: aqua;
}

.attack-button{
    background-color: black;
    height: 50px;
    width: 130px;
    position: relative;
    top:150px;
    color: white;
    text-align: center;
    line-height: 50px;
}


